.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animals-container {
  font-size: 5em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  /* justify-self: center;
  align-items: center; */
  /* background: blue; */
}

.animals {
  padding: 0.5em;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
  /* background: red; */
  /* border: solid 1px black; */
}

.animals:hover {
  transform: scale(1.2, 1.2);
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Portrait */
@media only screen and (max-width: 450px) {
  .animals-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.1em;
  }

  h2 {
    font-size: 1em;
  }
}

/* Landscape */
@media only screen and (max-height: 450px) {
  h2 {
    font-size: 0.8em;
  }

  .animals-container {
    font-size: 2em;
  }

  .instructions {
    font-size: 0.8em;
  }
}
